.movies-carrousel {
    width: 70%;
    margin: auto;
    padding: 100px 20px;
}

.main-movie {
    display: flex;
    gap: 20px;
    width: 100%; 
    height: auto;
    background-color: red;   
}

.movie-poster {
    width: 100%;
    object-fit:cover;
}

.thumbsnails-container {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.thumbnail {
    width: 90px;
    cursor: pointer;
    transition: .4s;
    &:hover {
        transform: scale(1.1);
    }
}

.thumbnail.active {
    transform: scale(1.2);
    border: solid 1px white;
}